@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --background-gray: #F2F2F2;
  --text_primary: #4D4F53;
  --text_red: #E90002;
  --gray: #BDBDBD;
  --gray_light: #C7C7C733;
  --text_white: #FFFFFF;
  --primary_red: #E90002;
  --secondary_red: #CC0605;
} */
